/* #region ---- NOTES ---- */
/*
 ==================================================================================
 * FLEX ([main] - x if row, y if col)
 ----------------------------------------------------------------------------------
   * JUSTIFY-CONTENT: Align with 'main' axis && ALIGN-ITEMS: Align with 'cross' axis
	 	* stretch (items fill the container’s cross-size) 
		* flex-start (top) 
		* center (middle) 
		* flex-end (bottom) 
		* baseline (text baselines line up)
		* space-between (first at start, last at end, equal gaps) 
		* space-around / space-evenly (equal spacing around/between items)
	===================================================================================
*/
/* #endregion ---- NOTES ---- */

.testColors {
	color: #000000;
}

/* #region ---- VARIABLES AND STD ELEMENT STYLING ---- */


:root {
	--bg1: #f5f5f5;
	--bg2: #e0e0e0;
	--bg3: #8d8d8d;
	--bg4: #1f1f1f;
	--border1: #c7c6c6;
	--border2: #a5a5a5;
	--border3: #707070;
	--border4: #313131;
	--shadow1: rgba(0, 0, 0, 0.3);

	--fontSize1: 1rem;
	--fontFam: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
}


/*
:root {
	--bg4: #f5f5f5;
	--bg3: #e0e0e0;
	--bg2: #8d8d8d;
	--bg1: #1f1f1f;
	--border4: #c7c6c6;
	--border3: #a5a5a5;
	--border2: #707070;
	--border1: #313131;
	--shadow1: rgba(0, 0, 0, 0.3);

	--text-color: #ffffff;

	--fontSize1: 1rem;
	--fontFam: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
}
*/

input {
	font-size: var(--fontSize1);
	font-family: var(--fontFam);
}

/* #endregion ---- VARIABLES AND STD ELEMENT STYLING ---- */

/* #region ---- TOP LEVEL ---- */

html,
body,
#root,
.container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
	font-size: var(--fontSize1);
}

.container {
	display: flex;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.leftMenu {
	flex: 0 0 20%;
	background: var(--bg2);
	border-right: 0.0625rem solid var(--border2);
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	transition: flex-basis 0.3s ease;
	position: relative;
}

.calendar {
	flex: 0 0 50%;
	background: var(--bg1);
	padding: 0.625rem;
	border-left: 0.0625rem solid var(--border2);
	box-sizing: border-box;
	overflow: hidden;
	transition: flex-basis 0.3s ease;
	position: relative;
	cursor: default;
}

.leftMenu.expand {
	flex-basis: 50%;
}

.calendar.expand {
	flex-basis: 80%;
}

.resizer {
	position: absolute;
	top: 45%;
	left: calc(20% - 0.375rem);
	width: 0.75rem;
	height: 10%;
	background: var(--bg1);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	border: 0.0625rem solid var(--border2);
	border-radius: 0.625rem;
	box-shadow: 0.125rem 0.125rem 0.5rem var(--shadow1);
	transition: background 0.3s ease, left 0.3s ease;
	z-index: 1;
}

.leftMenu.expand~.resizer {
	left: calc(50% - 0.375rem);
}

.hamburger {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: var(--border2);
	z-index: 1;
}

.portal {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	background-color: var(--bg1);
	box-sizing: border-box;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.5rem var(--shadow1);
	width: 90vw;
	max-height: 80vh;
	overflow-x: visible;
	overflow-y: auto;
}

/* #endregion ---- TOP LEVEL ---- */

/* #region ---- CHECKLIST ---- */

.checklist {
	position: relative;
	display: flex;
	flex-direction: column;
}

.submitButton,
.relButton {
	background: var(--bg2);
	border: 0.0625rem solid var(--border2);
	border-radius: 0.25rem;
	height: 1.5rem;
	top: 0;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	color: var(--border3);
	cursor: pointer;
	transition: background 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.submitButton.selected,
.relButton.selected {
	background-color: var(--bg3);
	color: var(--border4);
}

.relButton {
	position: relative;
}

.submitButton {
	position: absolute;
}

.submitButton.right {
	right: 0;
}

.submitButton.left {
	left: 0;
}

.submitButton.add {
	width: 1.5rem;
}

.submitButton:hover,
.relButton:hover {
	background: var(--bg3);
	color: #fff;
	transform: scale(1.1);
	z-index: 1;
}

.submitRow {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
}

.submitRow.right {
	right: 0;
}

.submitRow.left {
	left: 0;
}

.submitRow > .submitButton {
	position: relative;
}

.checklist .item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: .5rem;
	transition: transform 0.3s ease;
}

.checklist .item .label {
	position: relative;
	margin: 0;
	padding-bottom: 0.125rem;
	padding-top: 0.125rem;
}

.form,
.navBlock {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: var(--bg1);
	border-radius: 0.5rem;
	border: 1px solid var(--border3);
	box-shadow: 0 0.125rem 0.5rem var(--shadow1);
	top: 0;
	right: 0;
	width: 80%;
	padding: 0.5rem;
	overflow: visible;
}

.form.wButtonRow,
.navBlock.wButtonRow{
	padding-top: 1.5rem;
}

.portal .form,	
.portal .navBlock {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	overflow: visible;
}

.checklist .item .form,
.checklist .item .navBlock {
	position: relative;
}

.formRow,
.navRow {
	display: flex;
	width: 100%;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	flex-direction: row;
	align-items: center;
	border-radius: 0.125rem;
	flex-wrap: wrap;
}

.formCell,
.navCell {
	display: flex;
	align-items: center;
	border-radius: 0.0625rem;
	/*height: 1.5rem;*/
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	margin: 0;
}

.formRow input,
.navRow input {
	border: 0.0625rem solid var(--border2);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: var(--bg1);
	border: 1px solid var(--border3);
}

.formCell input.time,
.navCell input.time {
	width: 1.25rem;
}

.formCell input.year,
.navCell input.year {
	width: 2.5rem;
}

.navCell .button:focus,
.navCell .relButton:focus {	
	outline: 4px solid black;
}

.sep {
	margin: 0;
	user-select: none;
}

.wTextArea {
	flex-grow: 1;
}

.wTextArea textarea {
	width: 100%;
}

/* #endregion ---- CHECKLIST ---- */

/* #region ---- CALENDAR NAV ---- */

.navigationBar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.625rem;
	gap: 1rem;
	height: 1.875rem;
	width: 100%;
}

.navButton,
.arrowButton {
	background: var(--bg2);
	border: 0.0625rem solid var(--border2);
	border-radius: 0.25rem;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s ease;
	height: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navButton {
	width: 6.25rem;
}

.arrowButton {
	width: 3.125rem;
}

.dateSelector {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
}

.dateSelector select,
.dateSelector input,
.dateSelector button {
	padding: 0.25rem;
	border: 0.0625rem solid var(--border2);
	border-radius: 0.25rem;
}

.dateSelector button {
	color: var(--border3);
}

.monthTitle,
.gridDayTitle,
.dayTitleSmall {
	cursor: pointer;
}

/* #endregion ---- CALENDAR NAV ---- */

/* #region ---- YEAR VIEW ---- */

.yearView {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1rem;
	height: calc(100% - 2.5rem);
	width: 100%;
}

.monthCell {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-radius: 0.5rem;
	background: var(--bg1);
	font-size: 1.2rem;
	font-weight: bold;
	overflow: hidden;
	position: relative;
}

.monthTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.0625rem solid var(--border2);
	border-radius: 0.5rem 0.5rem 0 0;
	height: 20%;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.1rem;
	font-weight: bold;
}

.monthContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 0.0625rem solid var(--border2);
	border-top: 0;
	border-radius: 0 0 0.5rem 0.5rem;
	height: 80%;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
}

/* #endregion ---- YEAR VIEW ---- */

/* #region ---- MONTH VIEW ---- */

.monthView {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	border-right: 0.0625rem solid var(--border2);
	border-bottom: 0.0625rem solid var(--border2);
	height: calc(100% - 2.5rem);
	width: 100%;
}

.monthView > div:first-child {
	border-left: 0.0625rem solid var(--border2);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.monthView > * {
	border-top: 0.0625rem solid var(--border2);
}

.weekdayRow > * {
	border-left: 0.0625rem solid var(--border2);
}

.monthRow > * {
	border-left: 0.0625rem solid var(--border2);
}

.weekdayRow {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	flex: 0 0 0.5fr;
}

.weekdayTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg1);
	font-weight: bold;
	font-size: 1rem;
	height: 2.5rem;
}

.monthRow {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	flex: 1;
}

.gridDayCell {
	display: flex;
	flex-direction: column;
	background: var(--bg1);
	position: relative;
	overflow: hidden;
}

.gridDayTitle {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 0.0625rem solid var(--border2);
	border-left: 0.0625rem solid var(--border2);
	font-size: 0.8rem;
	padding: 0.125rem;
	background: transparent;
	cursor: pointer;
}

.gridDayContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
	margin-top: 1.25rem;
}

/* TESTING SPACES */
/* #endregion  ---- MONTH VIEW ---- */

/* #region ---- DAY VIEW ---- */

.dayView {
	display: flex;
	flex-direction: row;
	height: calc(100% - 2.5rem);
	width: 100%;
	gap: 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
}

.dayCellLarge {
	flex: 3;
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
	border: 0.0625rem solid var(--border2);
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0.125rem 0.125rem 0.5rem var(--shadow-color);
}

.dayCellSmall {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
	border: 0.0625rem solid var(--border2);
	border-radius: 0.5rem;
	overflow: hidden;
}

.dayTitleLarge,
.dayTitleSmall {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border-bottom: 0.0625rem solid var(--border2);
	font-weight: bold;
	font-size: 1rem;
}

.hourSpan {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	white-space: nowrap;
}

.hourLine {
	transform: translateY(50%);
	flex-grow: 1;
	border-top: 1px solid var(--border2);
}

.recurRow, 
.eventRow {
	box-sizing: border-box;
	position: absolute;
	align-items: flex-start;
	white-space: nowrap;
	flex-grow: 1;
	gap: 0.25rem;
}

.eventSpan {
	position: absolute;
	flex-grow: 1;
	border-left: 2px solid var(--line-color, var(--border2));
}

.recurSpan {
	position: absolute;
	flex-grow: 1;
	border-right: 2px solid var(--line-color, var(--border2));
}

.eventSpan:hover,
.recurSpan:hover {
	border-width: 4px;
}

.eventSpan::before,
.recurSpan::before, 
.eventSpan::after,
.recurSpan::after {
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 2px solid var(--line-color, var(--border2));
	background-color: var(--line-color, var(--border2));
	position: absolute;
	right: 0;
}

.eventSpan::before,
.recurSpan::before {
	top: 0;
}

.eventSpan::after,
.recurSpan::after {
	bottom: 0;
}

.eventSpan::before {
	transform: translate(calc(50% - 1px), -50%);
}

.recurSpan::before {
	transform: translate(calc(50% + 1px), -50%);
}

.eventSpan::after {
	transform: translate(calc(50% - 1px), 50%);
}

.recurSpan::after {
	transform: translate(calc(50% + 1px), 50%);
}

.eventSpan.noBefore::before,
.recurSpan.noBefore::before {
	content: none;
}
.eventSpan.noAfter::after,
.recurSpan.noAfter::after {
	content: none;
}

.eventRow {
	justify-content: flex-start;
}

.recurRow {
	justify-content: flex-end;
}

.dayContentLarge,
.dayContentSmall {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-y: auto;
	scrollbar-gutter: stable;
	box-sizing: border-box;
}
/* #endregion ---- DAY VIEW ---- */

/* #region ---- DROPDOWN ---- */

.drop {
	position: relative;
	font-size: 1rem;
	user-select: none;
	cursor: pointer;
}

.dropHeader {
	background: #f9f9f9;
	border: 0.0625rem solid var(--border2);
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: background 0.3s ease;
}

.dropHeader p,
.dropHeader input {
	padding-block: 0;
	padding-inline: 0;
	padding: 0rem .125rem;
	margin: 0;
	border: none;
	background: transparent;
}

.dropHeader input {
	border-radius: 0;
	border-bottom: 0.125rem solid var(--border2);
}

.chevron {
	display: inline-grid;
	place-items: center;
	width: 1rem;
	height: 1rem;
	font-size: var(--fontSize1);
	line-height: 1rem;
	transform-origin: center;
	transition: transform 0.3s ease;
	color: var(--border3);
	pointer-events: none;
}

.chevron.open {
	transform: scaleY(-1);
	z-index: 3;
}

.droptions {
	max-height: 8rem;
	top: 0;
	width: 100%;
	background-color: var(--bg1);
	border: 0.0625rem solid var(--border2);
	overflow-y: scroll;
	position: absolute;
	box-sizing: border-box;
	z-index: 1;
}

.droptions::-webkit-scrollbar {
	display: none;
}

.droption {
	padding: 0.25rem 0;
	height: 1rem;
	line-height: 1rem;
	position: relative;
}

.dropLens {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.5rem;
	background: var(--bg3);
	opacity: 50%;
	z-index: 2;
	pointer-events: none;
}

.droption.selected {
	font-weight: bold;
}

@keyframes dropdownFade {
	from {
		opacity: 0;
		transform: translateY(-0.5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* #endregion ---- DROPDOWN ---- */

/* #region ---- FORM ---- */

.logoutButton,
.createButton {
	background: var(--bg2);
	border: 0.0625rem solid var(--border2);
	border-radius: 0.25rem;
	height: 1.5rem;
	position: absolute;
	top: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	color: var(--border3);
	cursor: pointer;
	transition: background 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.logoutButton {
	top: 0.5rem;
	right: 0.5rem;
	color: var(--border3);
	border: 1px solid var(--border3);
}

.createButton:hover,
.logoutButton:hover {
	background: var(--bg3);
	color: #fff;
	transform: scale(1.1);
}

.quickForm {
	display: flex;
	flex-direction: column;
	padding: 8px;
	background-color: var(--bg1);
	border-radius: 0.25rem;
	border: 1px solid var(--border2);
}

.quickRow {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	border-radius: 0.125rem;
	border: 1px solid var(--border2);
}

.quickCell {
	display: flex;
	align-items: center;
	border-radius: 0.0625rem;
	height: 1.5rem;
}
/* #endregion ---- FORM ---- */

/* #region ---- BIG SCREEN ---- */

@media (min-width: 601px) {

	.navButton:hover,
	.arrowButton:hover,
	.resizer:hover,
	.monthTitle:hover,
	.gridDayTitle:hover,
	.dayTitleSmall:hover {
		background: var(--bg2);
		box-shadow: 0.125rem 0.125rem 0.75rem var(--shadow1);
		transform: scale(1.1);
	}
}
/* #endregion ---- BIG SCREEN ---- */

/* #region ---- SMALL SCREEN ---- */

@media (max-width: 600px) {

	.leftMenu,
	.calendar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease;
		pointer-events: auto;
		touch-action: auto;
	}

	.leftMenu {
		transform: translateX(-100%);
		pointer-events: none;
		touch-action: none;
	}

	.leftMenu.expand {
		transform: translateX(0);
		pointer-events: auto;
		touch-action: auto;
	}

	.calendar {
		transform: translateX(100%);
		pointer-events: none;
		touch-action: none;
	}

	.calendar.expand {
		transform: translateX(0);
		pointer-events: auto;
		touch-action: auto;
	}

}

/* #endregion ---- SMALL SCREEN ---- */

/* #region ---- NOTIFICATIONS ---- */

.portalNotify,
.portalError {
	padding: 0.25rem 0.5rem;
	white-space: normal;
	word-break: break-word;
	box-sizing: border-box;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.5rem var(--shadow1);
}

.portalNotify {
	background-color: #4aaa5d;
}

.portalError {
	background-color: #e45c4d;
	z-index: 1001;
}

.erred,
.erred *,
.erred input {
	background-color: #f8c9c9;
}

.erred {
	border-radius: 0.25rem;
	border: 2px solid #e0211b;
}

.errIndicator {
	color: #e0211b;
}

@keyframes flashRed {
	0% { 
		background-color: #e0211b;; 
	}
	25% {
		background-color: #e25853;
	}
	50% {
		background-color: #e4908d;
	}
	75% {
		background-color: #dfc1c0;
	}
	100% {
		background-color: inherit;
	}
}

.invalidFlash {
	animation: flashRed 2s ease-in-out;
}

.strikeThrough,
.strikeThrough * {
	text-decoration: line-through;
}

/* #endregion ---- NOTIFICATIONS ---- */

/* #region ---- MASS UPDATE ---- */

/*
.leftMenu,
.calendar,
.hamburger,
.portal,
.checklist,
.submitButton,
.relButton,
.form,
.formRow,
.formCell,
.navigationBar,
.navButton,
.arrowButton,
.dateSelector,
.monthCell,
.monthTitle,
.monthContent,
.monthView,
.weekdayTitle,
.gridDayCell,
.gridDayTitle,
.gridDayContent,
.dayView,
.dayCellLarge,
.dayCellSmall,
.dayTitleLarge,
.dayTitleSmall,
.dayContentLarge,
.dayContentSmall,
.portal.notify,
.portal.error,
.drop,
.dropHeader,
.droption,
.logoutButton,
.createButton,
.quickForm,
.quickRow,
.quickCell {
	color: var(--text-color);
}
*/

/* #endregion ---- MASS UPDATE ---- */